.card {
    width: 600px;
    
    
}
.card-body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}
.card-text {
    font-size: 25px;
}
.precio {
    color: rgb(82, 47, 114);
    font-style: bold;
    border: 2px solid rgb(82, 47, 114);
    border-radius: 20%;
    width: 150px;
    margin-top: 30px;
}